{% extends 'personas/base.html' %}
{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Banner -->
    <div class="jumbotron bg-primary text-white text-center p-5 rounded">
        <h1 class="display-4">¡Bienvenidos al Centro Médico CECOSF Atacama!</h1>
        <p class="lead">Cuidamos de tu salud con un equipo de profesionales.</p>
        <hr class="my-4 bg-light">
        <p>Consulta a nuestros médicos y agenda una hora para cuidar de ti.</p>
        <a href="{% url 'listamedicos' %}" class="btn btn-light btn-lg">Ver Médicos</a>
    </div>

    <div class="mt-5">
        <h3 class="text-center">¿Por qué elegirnos?</h3>
        <div class="row mt-4">
            <div class="col-md-4 text-center">
                <i class="bi bi-people-fill" style="font-size: 3rem;"></i>
                <h5 class="mt-2">Equipo Profesional</h5>
                <p>Contamos con médicos especializados y dedicados a tu bienestar.</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="bi bi-calendar-check-fill" style="font-size: 3rem;"></i>
                <h5 class="mt-2">Reservas Sencillas</h5>
                <p>Agenda tu cita en línea con tan solo unos clics.</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="bi bi-heart-fill" style="font-size: 3rem; color: red;"></i>
                <h5 class="mt-2">Compromiso con tu Salud</h5>
                <p>Tu bienestar es nuestra prioridad.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <a href="{% url 'dejar_reseña' %}" class="btn btn-secondary btn-lg">Dejar Reseña o Reclamo</a>
            </div>
    </div>
</div>
{% endblock %}
