{% extends 'personas/base.html' %}
{% load static %}

<!DOCTYPE html>
{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width: 400px;">
    <h1 class="mb-4 text-center">Iniciar Sesión</h1>
    {% if error %}
    <div class="alert alert-danger text-center" role="alert">
        {{ error }}
    </div>
{% endif %}


    <form method="post" class="p-4 border rounded shadow-sm bg-light">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Nombre de Medico</label>
            <input type="text" name="username" id="username" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
    </form>
</div>

{% endblock %}
