{% extends 'personas/base.html' %}
{% load static %}


<!DOCTYPE html>
{% block title %}Horas de Pacientes{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Horas Reservadas con Pacientes</h1>

    {% if horas %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Paciente</th>
                </tr>
            </thead>
            <tbody>
                {% for hora in horas %}
                <tr>
                    <td>{{ hora.fecha }}</td>
                    <td>{{ hora.hora }}</td>
                    <td>{{ hora.usuario.username }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="alert alert-info text-center" role="alert">
        No hay horas reservadas con tus pacientes.
    </div>
    {% endif %}

    <div class="text-center mt-4">
        <a href="{% url 'listamedicos' %}" class="btn btn-primary">Volver</a>
    </div>
</div>
{% endblock %}
